# Python 缓存与临时文件
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.log
*.db

# 环境配置
.env
.env.local
*.env.*
# ESLint缓存
.eslintcache
# Node模块缓存
node_modules/.cache/
node_modules/.cache-*
# 如果是React项目
node_modules/.cache/react/

.idea